.sidebar {
    font-variant: small-caps;
    font-size:smaller;
  }

.book-columns {
 margin-top:-10px;
  padding:0px;
}

pre {
  margin-top:-2px;
  padding-top:0px;
}

.highlight {
  border-radius: 0rem;
}

.markdown .highlight {
  border-radius:0rem;
}